* {
    font-family: "Liberation Mono Font", sans-serif;
    font-size: 12px;
    border-radius: 0px;
}

#waybar {
    background: #070603;
    color: #eae1d4;
    border: none;
}

#workspaces button {
    color: gray;
    background: transparent;
    padding: 3px;
}

#workspaces button.active {
    color: white;

    background: #1a361e;
}

#network {
    margin-right: 10px;
    margin-left: 15px;
}

#custom-updates {
    background-color: transparent;
    font-size: 12px;
    margin-right: 3px;
    margin-left: 3px;
    color: #b16286;
}

#tray {
    font-size: 21px;
    color: #eae1d4;
}

#custom-logo {
    color: #458588;

    font-size: 25px;
    padding-right: 7px;
}

#custom-playerctl {
    color: #c4ad76;
    font-size: 12px;
}

#mpris {
    color: #689d6a;
}

#clock {
    font-size: 12px;
}

#window {
    margin-left: 30px;
    margin-right: 30px;
}
